<p>
  <mat-toolbar>
    <span class="kanishk">KanishkUpadhyay</span>
    <div class="link-div">
      <a  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a>
      <a  routerLinkActive="active" routerLink="all-product">Products</a>
      <a  routerLinkActive="active" routerLink="cart"><span>{{value}}</span><mat-icon>shopping_cart</mat-icon></a>
      <mat-icon class="icon" [matMenuTriggerFor]="menu"> format_list_bulleted</mat-icon>
      <mat-menu #menu="matMenu">
        <div class="menu-link">
          <a  [routerLinkActiveOptions]="{exact:true}"  routerLinkActive="active" routerLink="/">Home</a>
          <a  routerLinkActive="active" routerLink="all-product">Products</a>
          <a  routerLinkActive="active" routerLink="cart"><span>{{value}}</span><mat-icon>shopping_cart</mat-icon></a>
        </div>
      </mat-menu>
    </div>
  </mat-toolbar>
</p>

