<div class="main">
    <div class="containers">
        <div>
            <div class="child-div">
                <h1>Angular Project</h1>
                <span>I am kanishk upadhyay i have created this project.in this project you can add item remove item and see the total price of all items and price of particular item</span>
                <div>
                   <a routerLink ="/all-product"> <button mat-button>Products</button></a>
                </div>
            </div>
        </div>
        <div class="img-div">
            <img class="man" src="/assets/images//man.png" alt="Error loading image" srcset="">
        </div>
    </div>
</div>